.news
{
    text-align: justify;
    font-size: 125%;

    overflow: auto;

    margin: 1em;
    padding: 1.5em;
    border: 4px double rgba(72,64,80,0.75);
    border-radius: 10px;

    background: url(img/menu_bground.png);
}

.news > h1
{
    text-align: center;
    font-size: 150%;
}

.news > iframe
{
    display: block;
    width: 450px;
    height: 250px;
    margin: 0 auto;
    padding: 0.75em;
    border: 0;
}

.pager {

    display: flex;
    justify-content: center;


}


.pager > button {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0em 0.3em;
    border-radius: 0.5em;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s;
}


.pager > button:hover{
 color: #bca488;
 background-color:#1f1f1f;
}

.pager > button:focus {
    color: #bca488;
    background-color:#1f1f1f;   
}

.pager > .normal-button {
    border:0.1em solid #000000;
    background-color: #0c0b0b;
    color: #FFFFFF;    
}

.pager > .focused-button {
    background-color: #1f1f1f;
    color: #bca488;
    border-color: white;
}